body {
    font-family: 'Merriweather', sans-serif;
    margin: 0;
}

@media print{

    @page{
        margin:0;
    }
    .links, footer, .toggle{
        display: none;
    }

    article>*, section>* {
        margin: 0.5em !important;
        padding: 0 !important;
    }

    .competences{
        margin-top:2em !important;
        padding:0 !important;
        height: 60px !important;
    }
}

body>header {
    background-image: url(../img/background.jpeg);
    background-size: cover;
    color: #fff;
    position: relative;
    display: table;
    width: 100%;
    text-align: center;
}

h2,h3 {
    margin:0;
}

.links{
    list-style-type: none;
    padding:0;
}
.links li{
    display: inline-block;
}
.links li a{
    text-decoration: none;
    color:#fff;
    padding-right: 8px;
  }

body>header>h1 {
    font-size: 2rem;
}

body>header>h2 {
    font-size: 1.5rem;
    font-family: "Merriweather", serif;
    font-weight: 400;
}

section {
    color: #4A4A4A;
    padding-top:1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}

section h2, div h2{
    margin:2em;
    text-align: center;
}

.row {
   /*  display: table; */
   width: 100%;
   margin:auto;
   text-align: center;
}

article {
    width: 80%;

    /* display: table-cell; */
    display:inline-block;
    vertical-align: top;
}

article>h2 {
    text-align: center;
    height: 40px;
}

article>* {
    margin: 1em;
}

.description {
    font-size: 1em;
    font-style: italic;
    text-align: left;
}

.description ul {
    padding: 0;
    list-style-type: none;
}

.presentation {
    opacity: 0.7;
    color: black;
    background-color: white;
}


.competences {
    border: 1px dashed #7faacf;
    border-radius: 9px;
    padding: 1em;
    background-color: #f6f7f9;
    color:#000;
    height: 50px;
}


article h2 {
    font-size: 1.4em;
    text-align: center;
    color: #66220f;
}

article h3 {
    font-weight: 400;
    font-size: 0.8em;
    text-align: center;
    
}


footer{
    font-style: italic;
    text-align: center;
    background-color: #232324;
    color: white;
}

#competences {
    padding-bottom: 3em;
    border-bottom: 1px solid #ccc;
}

#competences ul{
    text-align: center;
    list-style-type: none;
    padding:0;
}
#competences ul li {
    display: inline-block;

    padding: 1em;
    
    
}

#competences ul li span, h2 span {
    font-size: 3em;
    
}
#competences ul li h3 {
    color: #66220f;
    font-size: 1.5em;
    font-weight: 400;
    padding-top: 1em;
}


#experiences, .toggle {
    background-color: #f9f7f7;
    color: #000;
}

#formations{
    background-color: #d7d9f2;
}


@media screen and (max-width: 640px) {
    article {
        display: block;
        width: 100%;
    }
}

pre {
    outline: 1px dashed #ccc;
    padding: 5px;
    margin: 5px;
}

.string {
    color: green;
}

.number {
    color: darkorange;
}

.boolean {
    color: blue;
}

.null {
    color: magenta;
}

.key {
    color: #a52121;
}


 /* The switch - the box around the slider */
.switch {
position: relative;
color:#000;

display: inline-block;
width: 60px;
height: 34px;
vertical-align: middle;
font-size: 1.4em;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
position: absolute;
cursor: pointer;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #ccc;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
position: absolute;
content: "{}";
height: 26px;
width: 26px;
left: 4px;
bottom: 4px;
background-color: white;
-webkit-transition: .4s;
transition: .4s;
}


input:checked + .slider {
background-color: #ccc;

}

input:focus + .slider {
box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
-webkit-transform: translateX(26px);
-ms-transform: translateX(26px);
transform: translateX(26px);
content: "\1F441";
}